<?xml version="1.0"?>
<launch>
  <arg name="joint_limits_parameters_file" default="$(find tams_ur5_description)/config/joint_ranges/default.yaml" />
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />
  <param name="robot_description" command="$(find xacro)/xacro '$(find tams_ur5_setup_description)/urdf/tams_ur5_setup.urdf.xacro'
    joint_limits_parameters_file:=$(arg joint_limits_parameters_file)
    transmission_hw_interface:=$(arg transmission_hw_interface)" />
</launch>
